:root {
  --background-color: #ffffff;
  --footer-color: #2f303a;
  --main-background-color: #f5f5f5;
  --second-background-color: #f5f4fa;
  --maintext-color: #212121;
  --accent-color: #2196f3;
  --accent-second-color: #333333;
  --paragraph-color: #757575;
  --text-color: #000000;
  --address-color: rgba(255, 255, 255, 0.6);
  --group-color:#EEEEEE
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}


body {/**основные**/
  background-color: var(--main-background-color);
  color: var(--maintext-color);
  font-family: var(--main-font);
  font-size: 16px;
  letter-spacing: 0, 03em;
  text-decoration: none;
}
.logo {
  color: var(--text-color);
  font-weight: 700;
  font-family: var(--second-font);
  font-style: normal;
  line-height: 1.2;
  font-size: 26px;
  text-decoration: none;
}
.logo-blue {
  text-decoration: none;
  color: var(--accent-color);
}
.header-studio {
  background-color: var(--background-color);
}
.button-serv {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  margin: 0;
}
.header {
  text-align: center;
}
.addr-color {
  font-style: normal;
  color: var(--background-color);
}
.mat-color {
  text-decoration: none;
  color: var(--address-color);
}
.navigation-item {
  color: var(--maintext-color);
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-align: left;
}
.contacts-item {
  text-decoration: none;
  color: var(--paragraph-color);
}
.list {
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
}
.team {
  background-color: var(--background-color);
}
.navigation-item:hover,
.navigation-item:focus {
  color: var(--accent-color);
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
}
.filter-item {/*кнопки фильтра портфолио*/
  margin: 0;
  border: 0;
  width: 130px;
  height: 38px;
  left: 957px;
  top: 174px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--maintext-color);
   cursor: pointer;
}
.filter-item:hover,
.filter-item:focus {
  background-color: var(--accent-color);
  color: var(--main-background-color);
}
/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-serv {
  background-color: var(--accent-color);
  color: var(--main-background-color);
  margin: 0;
}
.solutions {
  background-color: var(--footer-color);
  color: var(--main-background-color);
}
.project {background-color:var(--group-color);}
.title {
  /*заголовок проектов в порфолио*/
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  text-align: left;
}
.title-char {
  /*заголовок характеристик в студия*/
  font-family:inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-align: left;
}
.txt-char {
  /*текст характеристик в студия*/
  font-family:inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-align: left;
}
.title-why {
  /*заголовок чем мы занимаемя( и наша команда) в студия*/
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
}
.text {
  /*текст в проектах портфолио*/
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  text-align: left;
}
.team-name {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--maintext-color);
}
.team-prof {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--paragraph-color);
}
.address {
  text-decoration: none;
  font-family: inherit;
font-size: 14px;
font-weight: 400;
line-height: calc(24 / 14);
letter-spacing: 0.03em;
text-align: left;
}

.list .address:hover,
.list .mat-color:hover,
.list .address:focus,
.list .mat-color:focus {
  color: var(--accent-color);
}
.foot,
.foot .logo,
.foot .address {
  background-color: var(--footer-color);
  color: var(--background-color);
}
